{{ template "base" .}}

{{define "title"}}
    About
{{end}}

{{ define "content" }}
    <h1> This is the testing phase</h1>
    <h2>This is the about page.</h2>
    <a href="/">This is the Home page</a>
    <p>Is use cached true or false</p>

    {{index .StringMap "test"}}

    {{if ne (index .StringMap "remote_ip") ""}}
        Your remote IP address is {{index .StringMap "remote_ip"}}
    {{else}}
        I don't know your ip address yet, Visit the <a href="/">Home page</a> so i can set it.
    {{end}}
{{end}}